@font-face {
    font-family: "PingFang TC";
    font-style: normal;
    font-weight: 400;
    src: url('../asset/PingFang-SC-Regular.woff2') format("woff2");;
}

:root {
    --primary-color: #3F5D45;
    --second-color: #EAF0ED;
    --fixed-width: 940px;
    --size-s: 16px;
    --size-m: 20px;
    --size-l: 24px;
}

body {
    font-family: "PingFang TC";
}