@font-face {
    font-family: "PingFang TC";
    font-style: normal;
    font-weight: 300;
    src: url('../asset/PingFangTC-Regular.ttf') format("ttf");
    ;
}

:root {
    --primary-color: #3F5D45;
    --second-color: #EAF0ED;
    --fixed-width: 940px;
    --size-s: 16px;
    --size-m: 20px;
    --size-l: 24px;
}