/* ---------------- Header ---------------- */

.header {
    max-width: var(--fixed-width);
    display: flex;
    justify-content: space-between;
    margin: 30px auto 36.5px;
}

.header .logo img {
    width: 220px;
    height: 40px;
}

nav {
    display: flex;
    flex: row;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: var(--size-s);
    color: var(--primary-color);
    font-weight: 600;
    margin-left: 60px;
}


/* ---------------- Banner ---------------- */

.banner {
    max-width: var(--fixed-width);
    margin: auto;
}


/* ---------------- Product ---------------- */

.products {
    max-width: var(--fixed-width);
    margin: auto;
    padding: 60px 0 30px;
    text-align: center;
}

.products .wrap {
    display: flex;
}

.products .categories {
    display: flex;
    width: 300px;
    flex-direction: column;
    font-size: var(--size-l);
}

.products .categories h3,
.products .categories a {
    width: 300px;
    height: 65px;
    display: flex;
    border: 1px solid var(--second-color);
    color: var(--primary-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.products .categories h3 {
    background: var(--primary-color);
    color: white;
}

.products .categories :nth-child(2) {
    background: var(--second-color);
}

.products .items {
    width: 600px;
}