/* ---------------- Header ---------------- */

.header {
    max-width: var(--fixed-width);
    display: flex;
    justify-content: space-between;
    margin: 30px auto 36.5px;
}

.header .logo img {
    width: 220px;
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: var(--size-s);
    color: var(--primary-color);
    font-weight: 600;
    margin-left: 60px;
}


/* ---------------- Banner ---------------- */

.banner {
    max-width: var(--fixed-width);
    margin: auto;
}


/* ---------------- Product Left Side ---------------- */

.products {
    max-width: var(--fixed-width);
    margin: auto;
    padding: 60px 0 30px;
    text-align: center;
}

.products .wrap {
    display: flex;
}

.products .categories {
    width: 300px;
    font-size: var(--size-l);
    margin-right: 20px;
}

.products .categories h2,
.products .categories ul>* {
    width: 100%;
    padding: 20.5px 0;
    font-weight: 600;
}

.products .categories li {
    outline: 1px solid var(--second-color);
}

.products .categories a {
    color: var(--primary-color);
    text-decoration: none;
}

.products .categories h2 {
    background: var(--primary-color);
    color: white;
}

.products .categories .active {
    background: var(--second-color);
}


/* ---------------- Product Right Side ---------------- */

.products .items {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.products .items img {
    vertical-align: bottom;
}

.products .product {
    width: 300px;
    position: relative;
}

.products .details {
    display: flex;
    border: 1px solid var(--second-color);
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    font-size: var(--size-m);
}

.product .details .name,
.product .details .price {
    text-align: center;
    padding: 17px 0;
}

.product .details .name {
    width: 173px;
    font-weight: 300;
    border-right: 1px solid var(--second-color);
}

.product .details .price {
    width: 127px;
    font-weight: 500;
    flex: 1;
}

.products .add-cart {
    border: none;
    padding: 16px 90px;
    background: var(--second-color);
    color: var(--primary-color);
    font-size: var(--size-l);
    font-weight: 700;
    cursor: pointer;
}

.items .favorite {
    position: absolute;
    top: 19px;
    right: 22px;
    cursor: pointer;
}

.items .recommend {
    padding: 11px 10px;
    position: absolute;
    top: 0;
    left: 20px;
    background: var(--primary-color);
    color: white;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    font-size: var(--size-s);
}


/* ---------------- Page ---------------- */

.page {
    max-width: var(--fixed-width);
    display: flex;
    flex-direction: row;
    margin: 0 auto 60px;
    justify-content: flex-end;
}

.page a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--size-m);
    /* prevent double border */
    outline: 1px solid var(--second-color);
    margin-top: 1px;
    margin-left: 1px;
}

.page a {
    color: var(--primary-color);
}

.page li .active {
    background: var(--primary-color);
    color: white;
}

.page img {
    width: 24px;
    height: 24px;
}